@import '../../styles/vars';
.s-info {
  padding: 30px 10px 10px;
  margin: 40px 0;
  &__title {
    font-size: 18px;
    line-height: 22px;
    color: $red;
    font-family: BR;
    padding-left: 30px;
    margin-bottom: 17px;
    text-transform: uppercase;
  }
  &__content {
    padding: 25px 20px 20px;
    display: grid;
    grid-template-columns: 110px 110px 120px 140px 120px 150px;
    grid-column-gap: 15px;
    &--ended {
      grid-template-columns: 110px repeat(4, 162px);
    }
  }
  &__item {
    &-head {
      color: $red;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 8px;
      span {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
    }
    &-subhead {
      font-size: 13px;
      line-height: 15px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }
    & + & {
      padding-left: 15px;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 1px;
        height: 57px;
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
.darktheme {
  .s-info {
    &__title {
      color: $blue;
    }
    &__content {
      background: linear-gradient(
        210.96deg,
        rgba(40, 36, 88, 0.61) 0.01%,
        rgba(38, 35, 83, 0.7) 42.05%,
        rgba(102, 94, 255, 0) 104.81%
      ) !important;
      box-shadow: inset 5px 5px 85px rgba(82, 157, 202, 0.1) !important;
      filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.14));
    }
    &__item {
      &-head {
        color: white;
      }
      &-subhead {
        color: $purple;
      }
    }
  }
}
