.p-lottery {
  &__nav {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
}

.darktheme {
  .p-lottery {
    color: white;
  }
}
