@import '../../styles/vars';
.l-wheel {
  margin: 20px auto;
  overflow: hidden;
  &__btn {
    margin: 20px auto 30px;
    display: block;
  }
  &__content {
    cursor: default;
  }
  &__wrapper {
    height: 280px !important;
    transition: 5s;
    transform: translateY(-1000px);
  }
  &__item {
    text-align: center;
    font-size: 24px;
    line-height: 43px;
    height: 43px;
  }
  .lottery-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    color: #a8a7af;
    font-family: sans-serif;
    position: relative;
    &.lottery-end {
      &::after {
        display: flex;
      }
    }
  }
  .lottery-container:after {
    content: 'Winner';
    position: absolute;
    color: $red;
    top: 50%;
    left: 20px;
    right: 20px;
    height: 80px;
    padding: 20px;
    display: none;
    justify-content: flex-end;
    font-family: BM;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    transform: translateY(-54%);
    background: linear-gradient(
        190.57deg,
        rgba(255, 255, 255, 0.56) 19.25%,
        rgba(248, 248, 255, 0.71) 54.39%,
        rgba(255, 255, 255, 0.59) 90.02%
      ),
      #ffffff;
    /* Style 1 */

    box-shadow: 20px 30px 85px rgba(119, 116, 159, 0.15),
      inset 0px 12px 20px rgba(255, 255, 255, 0.5);
    border-radius: 12px;
  }
  .lottery-item {
    line-height: 80px;
    font-size: 45px;
    text-align: center;
    will-change: line-height;
    &.winner {
      color: $red;
    }
    &_text {
      will-change: transform;
    }
  }
  .lottery-list {
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
}

.darktheme {
  .l-wheel {
    .lottery-end {
      &::after {
        background: linear-gradient(
          210.96deg,
          rgba(40, 36, 88, 0.61) 0.01%,
          rgba(38, 35, 83, 0.7) 42.05%,
          rgba(62, 59, 115, 0) 104.81%
        );
        box-shadow: inset 5px 5px 85px rgba(82, 157, 202, 0.1);
        color: $blue;
      }
    }
    .lottery-item {
      &.winner {
        color: $blue;
      }
    }
  }
}
