.ticker-box {
  background: #ececff;
  border-radius: 33px;
  padding: 9px 0;
  margin-top: 20px;
  margin-bottom: 70px;
  @media screen and (max-width: 991px) {
    margin: 0 -10px 30px;
    border-radius: 0;
  }
}

.darktheme {
  .ticker-box {
    background: #353194
  }
  .ticker {
    &__element {
      color: white;
    }
  }
}