@font-face {
  font-family: 'BB';
  src: url('../assets/fonts/Barlow-Bold.woff') format('woff');
}
@font-face {
  font-family: 'BM';
  src: url('../assets/fonts/Barlow-Medium.woff') format('woff');
}
@font-face {
  font-family: 'BL';
  src: url('../assets/fonts/Barlow-Light.woff') format('woff');
}

@font-face {
  font-family: 'BR';
  src: url('../assets/fonts/Barlow-Regular.woff') format('woff');
}

@font-face {
  font-family: 'BS';
  src: url('../assets/fonts/Barlow-SemiBold.woff') format('woff');
}
