@import '~antd/dist/antd.css';
@import './fonts';
@import './reset';
@import './vars';
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: fit-content;
  font-family: BM;
  color: $black;
}
.tampa {
  padding-bottom: 100px;
}
.row {
  max-width: 1320px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  &--sm {
    max-width: 630px;
  }
  &--lg {
    max-width: 920px;
  }
  &--md {
    max-width: 690px;
  }
}

.container {
  border-radius: 12px;
  background: $box-bg;
  box-shadow: $box-shadow;
}
h1 {
  font-size: 30px;
  line-height: 36px;
  color: $red;
  font-family: BR;
  text-transform: uppercase;
}
.ant-input-number-handler-wrap {
  display: none !important;
}
input {
  outline: none !important;
  box-shadow: none !important;
  &:focus {
    &::placeholder {
      color: transparent !important;
    }
  }
}
.ant-input-number {
  border: none !important;
  box-shadow: none !important;
  background: transparent !important;
}

.btn {
  box-shadow: 4px 12px 20px rgba(219, 72, 72, 0.15);
  border-radius: 12px;
  padding: 19px 0 17px;
  background: $red;
  width: 100%;
  max-width: 245px;
  text-align: center;
  border: none;
  outline: none !important;
  color: white;
  text-transform: uppercase;
  font-family: BB;
  display: flex;
  align-items: center;
  justify-content: center;
  &:disabled {
    background: #ccb2b3;
  }
  &--md {
    padding: 12px 0;
    max-width: 110px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0) 100%
      ),
      #e66565;
    border-radius: 10px;
  }
  &--withdraw {
    padding: 7px 0;
    width: 100%;
    font-family: BR;
    font-size: 13px;
    line-height: 16px;
    background: $red;
    border-radius: 10;
  }
  img {
    width: 18px;
    margin-right: 10px;
    &:only-child {
      margin: 0;
    }
  }
}

.nav {
  padding: 3px;
  background: #ededf2;
  box-shadow: 3px 3px 40px rgba(119, 116, 159, 0.05);
  border-radius: 8px;
  display: flex;
  align-items: center;
  width: fit-content;
  &__item {
    font-size: 14px;
    line-height: 17px;
    color: $black;
    cursor: pointer;
    padding: 9px 25px 8px;
    text-transform: uppercase;
    &.active {
      color: $red;
      background: #ffffff;
      box-shadow: 20px 30px 85px rgba(119, 116, 159, 0.15),
        inset 0px 12px 20px rgba(255, 255, 255, 0.5);
      border-radius: 8px;
    }
  }
}

.t-row {
  display: grid;
  grid-template-columns: 75px 70px 70px 50px 50px 62px 75px 70px 65px;
  grid-column-gap: 25px;
  align-items: flex-end;
  text-align: center;
  justify-content: space-between;
  padding: 13px 20px 11px;
  text-transform: uppercase;
  &__head {
    font-size: 13px;
    line-height: 15px;
  }
  &__content {
    font-family: BR;
    font-size: 15px;
    line-height: 28px;
    align-items: center;
    @media screen and (max-width: 991px) {
      align-items: flex-start;
      text-align: left;
    }
    & + & {
      margin-top: 5px;
      @media screen and (max-width: 991px) {
        margin-top: 0;
        margin-left: 5px;
      }
    }
  }
  .active {
    border-color: #e26c6d;
    background: linear-gradient(
        190.57deg,
        rgba(255, 255, 255, 0.56) 19.25%,
        rgba(248, 248, 255, 0.71) 54.39%,
        rgba(255, 255, 255, 0.59) 90.02%
      ),
      #ffe6e6;
  }
}
.darktheme {
  background: linear-gradient(0deg, #14133d, #14133d);
  .container {
    background: $box-bg-dark;
    box-shadow: $box-shadow-dark;
    // filter: drop-shadow(0px 50px 30px rgba(0, 0, 0, 0.14));
  }
  h1 {
    color: $blue;
  }
  .btn {
    box-shadow: 4px 12px 20px rgba(74, 155, 198, 0.5);
    background: $blue;
    &:disabled {
      background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.2) 0%,
          rgba(255, 255, 255, 0) 100%
        ),
        #646099;
    }
  }
  .t-row {
    &__content {
      background: linear-gradient(
        210.96deg,
        rgba(60, 56, 109, 0.61) -28.99%,
        rgba(91, 86, 165, 0.7) 7.05%,
        #43408b 43.81%
      );
    }
    .active {
      border-color: #53b9ea;
      background: linear-gradient(
        210.96deg,
        rgba(60, 56, 109, 0.61) -28.99%,
        rgba(91, 86, 165, 0.7) 7.05%,
        #43408b 43.81%
      );
    }
  }
  .nav {
    background: #504e9a;
    box-shadow: 3px 3px 40px rgba(119, 116, 159, 0.05);
    &__item {
      color: rgba(255, 255, 255, 0.9);
      &.active {
        background: $blue;
      }
    }
  }
}

.ant-tooltip {
  max-width: 400px !important;
  @media screen and (max-width: 991px) {
    max-width: 320px !important;
  }
  &-inner {
    background: linear-gradient(
        190.57deg,
        rgba(255, 255, 255, 0.56) 19.25%,
        rgba(248, 248, 255, 0.71) 54.39%,
        rgba(255, 255, 255, 0.59) 90.02%
      ),
      #ffffff !important;
    border: 4px solid #f2f2f3 !important;
    border-radius: 12px !important;
    color: $black;
    width: max-content;
    max-width: 400px;
    @media screen and (max-width: 991px) {
      max-width: 320px;
    }
  }
  &-arrow {
    width: 16px;
    height: 16px;
    top: -4.5px !important;
    @media screen and (max-width: 991px) {
      display: none;
    }
    &-content {
      width: 16px;
      height: 16px;
      box-shadow: none;
      background: linear-gradient(
          190.57deg,
          rgba(255, 255, 255, 0.56) 19.25%,
          rgba(248, 248, 255, 0.71) 54.39%,
          rgba(255, 255, 255, 0.59) 90.02%
        ),
        #ffffff !important;
      border-left: 4px solid #f2f2f3 !important;
      border-top: 4px solid #f2f2f3 !important;
      border-radius: 4px !important;
    }
  }
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  &::before {
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
}
.checkbox:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #ffffff;
}
.checkbox:not(:disabled):active+label::before {
  background-color: #ffffff;
  border-color: #ffffff;
}
//.checkbox:focus+label::before {
//  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
//}
.checkbox:focus:not(:checked)+label::before {
  border-color: #ffffff;
}
.checkbox:disabled+label::before {
  background-color: #e9ecef;
}

@media only screen and (max-width: 991px) {
  .m-h {
    display: none !important;
  }
}