@import '../../styles/vars';
.stakes {
  padding: 20px 30px 30px;
  position: relative;
  min-height: 230px;
  @media screen and (max-width: 991px) {
    min-height: unset;
    padding: 0;
    background: none !important;
    box-shadow: none !important;
  }
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__modal {
    text-align: left;
    padding: 30px;
    &-title {
      font-size: 24px;
      line-height: 29px;
      color: $red;
      font-family: BR;
    }
    &-text {
      margin: 13px 0 30px;
      color: $black;
      font-size: 18px;
      text-transform: uppercase;
      line-height: 22px;
    }
    &-btns {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-btn {
      margin: 0 !important;
      width: 120px !important;
      &--cancel {
        background: #5a88a0 !important;
        box-shadow: 4px 12px 20px rgba(90, 136, 160, 0.15) !important;
      }
      & + & {
        margin-left: 20px !important;
      }
    }
  }
  &__refresh {
    position: absolute;
    top: 14px;
    right: 15px;
    cursor: pointer;
    transform: rotate(0);
    transition: 1s;
    @media screen and (max-width: 991px) {
      top: 5px;
      right: 2px;
    }
    &.refreshing {
      animation: rotate 1s linear infinite;
    }
  }
  &__row {
    grid-template-columns: 75px 75px 75px 50px 50px 50px 55px 55px 55px 1fr !important;
    grid-column-gap: 20px !important;
    @media screen and (max-width: 991px) {
      &.t-row__head {
        display: none;
      }
    }
    &--ended {
      grid-template-columns: 75px 75px repeat(6, 85px) !important;
    }
  }
  &__nav {
    padding: 3px;
    margin-right: 15px;
    background: #ededf2;
    box-shadow: 3px 3px 40px rgba(119, 116, 159, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: fit-content;
    &-item {
      font-size: 14px;
      line-height: 17px;
      color: $black;
      cursor: pointer;
      padding: 9px 25px 8px;
      text-transform: uppercase;
      @media screen and (max-width: 991px) {
        padding: 9px 15px 8px;
      }
      &.active {
        color: $red;
        background: #ffffff;
        box-shadow: 20px 30px 85px rgba(119, 116, 159, 0.15),
          inset 0px 12px 20px rgba(255, 255, 255, 0.5);
        border-radius: 8px;
      }
    }
  }
  &__red {
    color: $red;
  }
  .ant-progress-show-info .ant-progress-outer {
    padding: 0 !important;
    margin: 0 !important;
  }
  .ant-progress-text {
    display: none !important;
  }
  .ant-progress-inner {
    background: #ededf2 !important;
    margin-top: -3px;
  }
  .ant-progress-bg {
    height: 6px !important;
  }
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}
.darktheme {
  .stakes {
    &__modal {
      &-title {
        color: $blue;
      }
      &-text {
        color: white;
      }
    }
    &__row {
      &-item {
        color: white;
      }
      &-head {
        &-item {
          color: $purple;
        }
      }
    }
    &__nav {
      background: #504e9a;
      box-shadow: 3px 3px 40px rgba(119, 116, 159, 0.05);
      &-item {
        color: rgba(255, 255, 255, 0.9);
        &.active {
          background: $blue;
        }
      }
    }
  }
}
