@import '../../styles/vars';
.stakes {
  padding: 20px 30px 30px;
  position: relative;
  &__refresh {
    position: absolute;
    top: 14px;
    right: 15px;
    cursor: pointer;
  }
  &__nav {
    padding: 3px;
    background: #ededf2;
    box-shadow: 3px 3px 40px rgba(119, 116, 159, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: fit-content;
    &-item {
      font-size: 14px;
      line-height: 17px;
      color: $black;
      cursor: pointer;
      padding: 9px 25px 8px;
      text-transform: uppercase;
      &.active {
        color: $red;
        background: #ffffff;
        box-shadow: 20px 30px 85px rgba(119, 116, 159, 0.15),
          inset 0px 12px 20px rgba(255, 255, 255, 0.5);
        border-radius: 8px;
      }
    }
  }
  &__red {
    color: $red;
  }
}
.darktheme {
  .stakes {
    &__row {
      &-item {
        color: white;
      }
      &-head {
        &-item {
          color: $purple;
        }
      }
    }
  }
}
