.auction {
  @media screen and (max-width: 991px) {
    margin: 0 -10px;
  }
  &__title {
    display: flex;
    align-items: center;
    @media screen and (max-width: 991px) {
      justify-content: center;
    }
  }
}
