@import '../../styles/vars';
.header {
  position: sticky;
  padding: 30px 0 0;
  z-index: 100;
  transition: 0.3s;
  top: -22px;
  left: 0;
  font-size: 15px;
  line-height: 18px;
  width: 100%;
  @media screen and (max-width: 991px) {
    top: 0;
    padding: 17px 0;
  }
  &.active {
    background: linear-gradient(
        190.57deg,
        rgba(255, 255, 255, 0.56) 19.25%,
        rgba(248, 248, 255, 0.71) 54.39%,
        rgba(255, 255, 255, 0.59) 90.02%
      ),
      #ffffff;
    box-shadow: 20px 30px 85px rgba(119, 116, 159, 0.15),
      inset 0px 12px 20px rgba(255, 255, 255, 0.5);
    border-radius: 0px 0px 12px 12px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 991px) {
      justify-content: center;
    }
  }
  &__left,
  &__right {
    display: flex;
    align-items: center;
  }
  &__right {
    margin-top: -3px;
  }
  &__logo {
    @media screen and (max-width: 1279px) {
      width: 110px;
    }
    @media screen and (max-width: 991px) {
      width: 95px;
    }
  }
  &__nav {
    display: flex;
    margin-left: 80px;
    align-items: center;
    @media screen and (max-width: 1279px) {
      margin-left: 30px;
    }
    @media screen and (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 0;
    }
    &-item {
      cursor: pointer;
      font-family: BR;
      transition: 0.3s;
      padding: 14px 7.5px;
      display: block;
      text-transform: uppercase;
      color: $black;
      border-bottom: 3px solid transparent;
      @media screen and (max-width: 991px) {
        padding: 0;
        font-size: 24px;
        line-height: 29px;
        border: none;
      }
      & + & {
        margin-left: 18px;
        @media screen and (max-width: 1279px) {
          margin-left: 10px;
        }
        @media screen and (max-width: 991px) {
          margin-left: 0;
          margin-top: 40px;
        }
      }
      &--active {
        font-family: BB;
        color: $red-light;
        border-color: $red-light;
        &:hover {
          color: $red-light;
        }
      }
    }
  }
  &__time {
    color: $red;
    font-family: BR;
    text-transform: uppercase;
    @media screen and (max-width: 991px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      line-height: 29px;
    }
    span {
      width: 68px;
      display: inline-block;
      @media screen and (max-width: 991px) {
        width: auto;
      }
    }
  }
  &__theme {
    margin: 0 33px;
    display: flex;
    align-items: center;
    font-family: BR;
    @media screen and (max-width: 1279px) {
      margin: 0 15px;
    }
    @media screen and (max-width: 991px) {
      justify-content: center;
      margin: 40px 0 0;
    }
    span {
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.3);
      margin: 0 7px;
      @media screen and (max-width: 991px) {
        font-size: 20px;
      }
    }
    span:first-child {
      color: $red;
    }
    &.active {
      span:last-child {
        color: $red;
      }
      span:first-child {
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  .ant-switch {
    background: linear-gradient(
      232.34deg,
      rgba(255, 20, 20, 0.0001) -20.17%,
      rgba(198, 14, 14, 0.2) 99.8%
    );
    @media screen and (max-width: 991px) {
      width: 53px;
      height: 30px;

      .ant-switch-handle {
        top: 5px;
        left: 5px;
        width: 19px;
        height: 19px;
      }

      &.ant-switch-checked .ant-switch-handle {
        left: calc(100% - 19px - 5px);
      }
    }
    &-checked:focus {
      box-shadow: none;
    }
    &-handle {
      &::before {
        background: linear-gradient(
          232.34deg,
          rgba(255, 20, 20, 0.0001) -20.17%,
          #c60e0e 99.8%
        );
        box-shadow: none;
      }
    }
  }
  &__metamask {
    display: flex;
    align-items: center;
    @media screen and (max-width: 991px) {
      margin-top: 40px;
      img {
        width: 68px;
      }
    }
    span {
      max-width: 150px;
      font-family: BR;
      font-size: 15px;
      margin-left: 7px;
      line-height: 26px;
      color: $red;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
      @media screen and (max-width: 991px) {
        margin-left: 20px;
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
}
.m-menu-btn-wrapper {
  display: none;
  position: absolute;
  top: calc(50% - 15px);
  left: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  @media screen and (max-width: 991px) {
    display: block;
  }
}
.m-menu-btn {
  position: absolute;
  top: 50%;
  right: 5px;
  display: inline-block;
  width: 20px;
  height: 1px;
  background-color: #E44747;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #E44747;
    -webkit-transition-duration: 0.3s, 0.15s, 0.15s;
    transition-duration: 0.3s, 0.15s, 0.15s;
    -webkit-transition-delay: 0s, 0.15s, 0s;
    transition-delay: 0s, 0.15s, 0s;
  }
  &:before {
    top: -7px;
    -webkit-transition-property: background-color, top, -webkit-transform;
    transition-property: background-color, top, transform;
  }
  &:after {
    bottom: -7px;
    -webkit-transition-property: background-color, bottom, -webkit-transform;
    transition-property: background-color, bottom, transform;
  }
}
.m-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 30% 40px 15%;
  background-color: #fff;
  transition: background-color 0.3s;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  @media screen and (max-width: 991px) {
    display: flex;
  }
}
.header.menu-shown {
  .m-menu-btn {
    background-color: transparent;
    &:before,
    &:after {
      -webkit-transition-delay: 0s, 0s, 0.15s;
      transition-delay: 0s, 0s, 0.15s;
    }
    &:before {
      top: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      bottom: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }
  .m-menu {
    opacity: 1;
    visibility: visible;
  }
}

.darktheme {
  .header {
    &.active {
      background: #363474;
      box-shadow: 20px 30px 85px rgba(119, 116, 159, 0.15);
    }
    &__metamask {
      span {
        color: $blue;
      }
    }
    &__nav {
      &-item {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.8);
        &--active {
          color: $blue;
          border-color: $blue;
        }
      }
    }
    &__theme {
      span {
        color: rgba(255, 255, 255, 0.8);
      }
      span {
        color: rgba(255, 255, 255, 0.8);
      }
      span:first-child {
        color: $blue;
      }
      &.active {
        span:last-child {
          color: $blue;
        }
        span:first-child {
          color: rgba(255, 255, 255, 0.8);
        }
      }
    }
    &__time {
      color: $blue;
    }
    .ant-switch {
      background: linear-gradient(
        232.34deg,
        rgba(32, 183, 255, 0.0001) -20.17%,
        #53b9ea 99.8%
      );
      &-handle::before {
        background: white;
      }
    }
  }
  .m-menu-btn {
    background-color: $blue;
    &:before,
    &:after {
      background-color: $blue;
    }
  }
  .m-menu {
    background-color: #363474;
  }
}
