@import '../../styles/vars';
.lottery-a {
  margin-bottom: 40px;
  padding-top: 40px;
  &__title {
    text-align: center;
  }
  &__withdraw {
    padding: 13px 0 11px !important;
    max-width: 120px !important;
    margin: 15px 0 10px;
    & + .lottery-a__info-head {
      margin-top: 0;
    }
  }
  &__info {
    margin-top: 15px;
    &-item {
      border-radius: 12px;
    }
    &-head {
      margin-top: 15px;
      font-size: 24px;
      line-height: 29px;
      color: $red;
    }
  }
}
.darktheme {
  .lottery-a {
    &__info {
      &-item {
        &-head {
          color: $blue;
        }
      }
    }
  }
}
