.lottery-a {
  margin-bottom: 40px;
  padding-top: 40px;
  &__title {
    text-align: center;
  }
  &__withdraw {
    padding: 13px 0 11px !important;
    max-width: 120px !important;
    margin: 15px 0 10px;
  }
  &__info {
    &-item {
      border-radius: 12px;
    }
  }
}
