@import '../../styles/vars';

.lottery {
  padding: 40px 0 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  @media screen and (max-width: 991px) {
    padding: 0;
    background: none !important;
    box-shadow: none !important;
  }
  &__title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    padding: 0 30px;
    margin-top: 35px;
    font-size: 14px;
    line-height: 17px;
    opacity: 0.9;
    @media screen and (max-width: 991px) {
      margin-top: 30px;
      padding: 0;
    }
    &-head {
      margin-bottom: 10px;
    }
    &-subitem {
      margin: 8px 0;
      padding-left: 15px;
      @media screen and (max-width: 991px) {
        margin: 10px 0;
        padding-left: 0;
      }
    }
  }
  &__rule {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 14px;
    opacity: 0.9;
    line-height: 17px;
    img {
      margin-right: 8px;
    }
  }
  &__subtitle {
    opacity: 0.9;
    font-family: BM;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
    margin-top: 15px;
  }
  &__content {
    padding: 30px;
    margin-top: 40px;
    @media screen and (max-width: 991px) {
      margin-top: 30px;
      padding: 0;
      background: none !important;
      box-shadow: none !important;
    }
  }
  &__info {
    display: flex;
    @media screen and (max-width: 991px) {
      flex-direction: column;
    }
    &-progress {
      margin-top: 20px;
      text-align: center;
      font-size: 20px;
      line-height: 24px;
    }
    &-item {
      border: 2px solid #e8f1f9;
      width: 100%;
      padding: 22px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media screen and (max-width: 991px) {
        padding: 20px;
      }
      & + & {
        margin-left: 10px;
        @media screen and (max-width: 991px) {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
    &-head {
      font-size: 14px;
      line-height: 17px;
      color: $black;
      text-transform: uppercase;
    }
    &-content {
      font-size: 24px;
      line-height: 29px;
      color: $red2;
      margin-top: 10px;
    }
    &-date {
      margin-top: 25px;
      @media screen and (max-width: 991px) {
        margin-top: 10px;
      }
    }
    &-wrapper {
      margin-top: 15px;
      font-family: BR;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.3px;
      display: flex;
      align-items: center;
      color: #6f6c99;
      img {
        margin-right: 10px;
      }
    }
  }
}
.darktheme {
  .lottery {
    &__info {
      &-head {
        color: white;
      }
      &-content {
        color: $blue;
      }
    }
  }
}
