@import '../../styles/vars';

.l-history {
  padding: 45px 30px 30px;
  text-transform: uppercase;
  @media screen and (max-width: 991px) {
    padding: 0;
    background: none !important;
    box-shadow: none !important;
  }
  &__title {
    font-family: BR;
    color: $red;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
    @media screen and (max-width: 991px) {
      text-align: center;
    }
  }
  &__win {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &-btn {
      padding: 7px 0 !important;
      width: 86px !important;
      margin-left: 60px;
    }
    span {
      color: $red;
    }
  }
  &__row {
    padding: 13px 30px 11px;
    color: $black;
    display: grid;
    grid-template-columns: 80px 150px 250px;
    justify-content: space-between;
    font-family: BR;
    font-size: 15px;
    line-height: 28px;
    &-item {
      text-align: center;

      &-address {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &-head {
      font-size: 13px;
      font-family: BM;
      line-height: 15px;
      margin-bottom: -5px;
      @media screen and (max-width: 991px) {
        display: none;
      }
    }
    &-content {
      border: 3px solid transparent;
      &.active {
        border-color: #e26c6d;
        color: $red;
        background: linear-gradient(
            190.57deg,
            rgba(255, 255, 255, 0.56) 19.25%,
            rgba(248, 248, 255, 0.71) 54.39%,
            rgba(255, 255, 255, 0.59) 90.02%
          ),
          #ffe6e6 !important;
      }
    }
    & + & {
      margin-top: 5px;
    }
  }
}
.darktheme {
  .l-history {
    &__title {
      color: $blue;
    }
    &__win {
      span {
        color: $blue;
      }
    }
    &__row {
      color: white;
      &-content {
        background: linear-gradient(
          210.96deg,
          rgba(60, 56, 109, 0.61) -28.99%,
          rgba(91, 86, 165, 0.7) 7.05%,
          #43408b 43.81%
        ) !important;
        &.active {
          border-color: $blue;
          color: $blue;
          background: linear-gradient(
            210.96deg,
            rgba(60, 56, 109, 0.61) -28.99%,
            rgba(91, 86, 165, 0.7) 7.05%,
            #43408b 43.81%
          ) !important;
        }
      }
      &-head {
        color: $purple;
      }
    }
  }
}
